NEXT_PUBLIC_SUPABASE_URL=https://uuzrivgzkykhjzxhucyl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_opHg0Q38splY99skAkb8Pw__tI8WIeP
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=bluelingo_videos
TELEGRAM_BOT_TOKEN=8541087672:AAGRli-wwUE_-cACSNMbdjnS7p916xU8EMQ
TELEGRAM_CHAT_ID=7176722918
ADMIN_EMAILS=ren58791@gmail.com
NEXT_PUBLIC_SITE_URL=http://localhost:3000
